ckpt/
ckpt
/checkpoints/
results/
hub/
assets/robot/
policy/*gc*
data/
\.gradio
core\.*
data
__pycache__/
.*__pycache__/.*
\.local/
tmp_scripts/*
scripts/*
!scripts/dataset_visualizer.py
!scripts/*example*.sh
!scripts/mp4_to_gif.py
!scripts/push_to_hub.py
!scripts/download_dataset.py
!scripts/evaluate_model.py
logs/
vla_backup/
.vscode/
eval_real_old.py
outputs/
.idea/
.cursor/
gyx/*
wyb/*
num2words/
.venv/
checkpoints/*
configs/policy/*gc*
configs/action_manager/so101*
benchmark/simplerenv/ManiSkill2_real2sim/*
benchmark/simplerenv/ManiSkill2_real2sim
policy/*pose*
policy/*nostate*
*bilora*
configs/task/local/

# Local packaging validation environments
.runtime-test/
.wheel-test/
.sdist-test/
.packaging-outside/
dist/
/final-results/
/tests/
results/*